1. 各级科目之间使用”-”(横杠)隔开，替换掉现在使用的红点。
2. 现在的科目组件输入不太方便，需要支持退格修改，当前科目组件不支持退格修改数据，需要通过鼠标点击上一级才能退回;
3. 组件的下拉选择需要支持上下键控制选择，然后回车键确认选择。
4. 组件需要支持新增、修改模式
   该组件是有用在新增修改表单内部的table上的，也有用在查询条件上的，所以需要支持修改时科目组件的数据回显。
5. 没有输入明细科目，应该要提示，控件应该支持控制是否检查科目完整性，也就是必须输入明细科目
   比如：凭证录入那里就必须输入明细科目，凭证查询条件里面就可以输入部分。
