.toggle {
  position: relative;
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 9999px;
  cursor: pointer;
  height: 1.5rem;
  width: 3rem;
}

.toggle:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba(52, 144, 220, 0.5);
}

.toggle:before {
  display: inline-block;
  border-radius: 9999px;
  height: 100%;
  width: 100%;
  background-color: #dae1e7;
  content: "";
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.toggle[data-checked="true"]:before {
  background-color: #3490dc;
}

.toggle:after {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9999px;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
  border-width: 1px;
  border-color: #dae1e7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  content: "";
  transition: transform 0.2s ease;
  transform: translateX(0);
}

.toggle[data-checked="true"]:after {
  transform: translateX(1.5rem);
}
